.headerText {
	font-family: 'Sansita One';
	text-align: left;
	font-weight: bold;
}

.headerSubText {
	font-family: 'Sansita One';
	text-align: left;
	font-weight: bold;
	color: blue;
}

.linkTable {
	padding: 10px;
}

.headerRuleUpper {

}

.headerRuleLower {

}

body {
	font-family: "Comic Sans MS";
}

.footerRuleUpper {

}

.footerText {
	text-align: center;
}

a {
	text-decoration: none;
	font-weight: normal;
}

a:link {

}

a:visited {
	color: darkorange;
}

a:hover {
	font-weight: bold;
}

a:active {
	text-decoration: none;
}