.headerText {
	font-size: 50px;
	text-align: center;
	font-weight: bold;
	color: blue;
}

.linkTable {
	padding: 10px;
}

.headerRuleUpper {

}

.headerRuleLower {

}

body {
	font-family: "Comic Sans MS";
}

.footerRuleUpper {

}

.footerText {
	text-align: center;
}