table {

	text-align: center;
	width: 100%;
	background-color: linen;
}
tbody {
	font-style: italic;
}

#header {
	background-color: lightgray;
}

p {
	text-align: center;
}

a {
	text-decoration: none;
}

a:link {

}

a:visited {

}

a:hover {
	text-decoration: underline;
	background-color: darkkhaki;
}

a:active {

}